<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="O Tronco te ajuda a organizar coleções de texto.">
    <meta name="author" content="Elvis de Souza">
    <link rel="icon" href="{{url_for('static', filename='favicon.png')}}">

    <title>Tronco</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='bootstrap.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='dashboard.css')}}" rel="stylesheet">
  </head>

  <body>
      
    <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 sticky-top">
      <span class="navbar-brand col-sm-3 col-md-2 mr-0" style="color:white">
        <a class="toggleSettings" style="width:100%; display:block" settings="corpusSettings" title="Configurações da coleção">
            <span id="menu-svg" data-feather="menu"></span>
            <span id="name" class="name" style="margin-left:5px">{{name}}</span>
        </a>   
      </span>
      <input class="form-control form-control-dark w-100" id="search" type="text" title="Procurar ou criar arquivos (Ctrl+P)" placeholder="Digite para procurar ou criar arquivo" aria-label="Search">
      <ul id="after-search" class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a title="Voltar ao início (Ctrl+E)" class="nav-link" href="/">
            <span id="troncoHome"><!--onclick="window.location.href='/'"img class="mb-2 d-none d-lg-block" src="{{url_for('static', filename='favicon.png')}}" alt="" width="24" height="24"-->Tronco</span>
            <span> / <span class="name">{{name}}</span></span>
            <span class="d-md-none"> / <span class="filename">{{filename}}</span></span>
          </a>
        </li>
      </ul>
    </nav>
    

    <div class="container-fluid">
      <div class="row">
        <nav style="min-width:200px" id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar pt-5">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">

                <li class="nav-item settings" id="corpusSettings" style="display:none;">
                    <a class="nav-link">
                        <div class="form-row align-items-left">
                            <div class="col-auto my-1">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" checked="true" class="custom-control-input" id="autoSaveCheckbox">
                                <label class="custom-control-label" style="cursor:pointer" title="Modificações no arquivo e nos seus metadados serão salvas automaticamente" for="autoSaveCheckbox">Salvamento automático</label>
                                </div>
                            </div>                        
                        </div>
                        <div class="form-row align-items-left">
                            <div class="col-auto my-1">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" checked="true" class="custom-control-input" id="wrapTextCheckbox">
                                <label class="custom-control-label" style="cursor:pointer" title="O texto terá quebra de linha" for="wrapTextCheckbox">Quebra de linha</label>
                                </div>
                            </div>                        
                        </div>
                    </a>
                    <a id="renameCorpus" class="nav-link">
                        <span data-feather="delete"></span>
                        Renomear coleção
                    </a>
                    <a id="deleteCorpus" class="nav-link">
                        <span data-feather="trash-2"></span>
                        Excluir coleção
                    </a>

                    <div id="permissionsSettings">
                        <a id="setPassword" title="Mude a senha desta coleção" class="nav-link">
                            <span data-feather="lock"></span>
                            Mudar senha
                        </a>
                        <a id="setPermissions" title="Escolha as permissões de um visitante" class="nav-link">
                            <span data-feather="user-check"></span>
                            Permissões de visitante
                        </a>
                        <a class="nav-link" id="permissionsDiv" style="margin-left:10px; display:none">
                            <div class="form-row align-items-left">
                                <div class="col-auto my-1">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" checked="true" class="custom-control-input togglePerm" perm="visualizar" id="viewPermission">
                                    <label class="custom-control-label" style="cursor:pointer" title="Qualquer um poderá visualizar a coleção" for="viewPermission">Visualizar</label>
                                    </div>
                                </div>                        
                            </div>
                            <div class="form-row align-items-left">
                                <div class="col-auto my-1">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" checked="true" class="custom-control-input togglePerm" perm="editar" id="editPermission">
                                    <label class="custom-control-label" style="cursor:pointer" title="Qualquer um poderá editar o conteúdo desta coleção" for="editPermission">Editar</label>
                                    </div>
                                </div>                        
                            </div>
                            <div class="form-row align-items-left">
                                <div class="col-auto my-1">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" checked="true" class="custom-control-input togglePerm" perm="configurar" id="setupPermission">
                                    <label class="custom-control-label" style="cursor:pointer" title="Qualquer um poderá configurar as permissões desta coleção" for="setupPermission">Configurar</label>
                                    </div>
                                </div>                        
                            </div>
                        </a>
                    </div>
                    <hr>
                </li>

                <div style="margin-top:10px">
                    <li class="nav-item">
                        <a class="nav-link" id="changePassword" title="Insira a senha da coleção">
                        <span data-feather="users"></span>
                        <span id="conected">Não conectado</span>
                        </a>
                    </li>

                    <li class="nav-item" style="margin-left:10px">
                        <span class="nav-link" id="permissions">
                        </span>
                    </li>

                    <li class="nav-item" style="margin-top:10px">
                        <a class="nav-link files" file="README">
                            <span data-feather="file"></span>
                            README
                        </a>
                    </li>
                </div>
              <!--li class="nav-item">
                <a class="nav-link">
                  <span data-feather="users"></span>
                  Customers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <span data-feather="layers"></span>
                  Integrations
                </a>
              </li-->
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Textos na coleção</span>
              <a class="d-flex align-items-center text-muted" id="newFile" title="Criar novo arquivo (Ctrl+O)">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul id="files" class="nav flex-column mb-2">

            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" style="padding-bottom:30px">
          
          <nav aria-label="breadcrumb">
            <ol style="display:none" class="breadcrumb" id="recentFiles">
                
            </ol>
          </nav>

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2 filename" id="filename">{{filename}}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button id="saveModifications" class="btn btn-sm btn-outline-secondary" title="Ctrl+S">Salvar modificações</button>
              </div>
            </div>
          </div>

          <textarea class="form-control" style="resize:none; overflow:auto; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; height:100%; width:100%;" id="mainText"></textarea>

          <!--h2>Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div-->
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{url_for('static', filename='jquery-3.5.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='popper.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='tronco.js')}}"></script>
    <script src="{{url_for('static', filename='dashboard.js')}}"></script>

    <!-- Icons -->
    <script src="{{url_for('static', filename='feather.js')}}"></script>
    <script src="{{url_for('static', filename='jquery.autosize.js')}}"></script>
    <script>
      feather.replace()
    </script>  
  </body>
</html>
