<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tronco te ajuda a organizar coleções de texto.">

    <meta property="og:title" content="Tronco">
    <meta property="og:description" content="Tronco te ajuda a organizar coleções de texto.">
    <meta property="og:image" content="{{url_for('static', filename='favicon2.png')}}">
    <meta property="og:url" content="https://tronco.ga">

    <link rel="manifest" href="{{url_for('static', filename='manifest.json')}}?version=3">

    <script>

      var expirationDate = 'Fri, 31 Dec 9999 23:59:59 GMT'
      
      function getRecent (){
          if (document.cookie.indexOf("tr=") == -1){
              document.cookie = 'tr={"recent": ""}; expires=' + expirationDate
          }
          cookie = JSON.parse(document.cookie.split("tr=")[1].split("; ")[0])
          return cookie
      }

      if (!window.location.href.match(/\?(load=false|app=true)/) && getRecent().recent.length){
          window.location.href = "/corpus/" + getRecent().recent.split("|")[getRecent().recent.split("|").length-1] + "?file=README"
      }      
    </script>

    <link rel="icon" href="{{url_for('static', filename='favicon.png')}}">

    <title>Tronco</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='bootstrap.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='pricing.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='tronco.css')}}" rel="stylesheet">
    
  </head>

  <body>

    <div style="color:white" class="bg-dark form-control-dark d-flex flex-column sticky-top flex-md-row align-items-center p-3 px-md-4 box-shadow">
      <h5 id="tronco" class="my-0 mr-md-auto font-weight-normal d-none d-lg-block"></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a href="https://github.com/alvelvis/Tronco#Tronco" id="aboutTronco" style="display:none" target="_blank" class="p-2 text-light">Sobre o Tronco</a>
        <!--a href="#" class="p-2 text-dark">Carregar projeto</a-->
        <a href="https://github.com/alvelvis/Tronco#Dispositivos" id="downloadTronco" style="display:none" target="_blank" class="p-2 text-light">Baixe o aplicativo</a>
        <a href="#" id="toggleTheme" style="display:none;" title="Ativar modo escuro" class="text-light">
          <span data-feather="moon"></span>
        </a>
      </nav>
      <!--a class="btn btn-outline-primary">Sign up</a-->
    </div>


    <div id="mainDiv" style="margin-top:auto" class="pt-4">
      <div class="pricing-header px-3 pt-md-5 mx-auto text-center">
        {% if latest_version and latest_version > version %}
        <div class="alert alert-warning" role="alert">
          Há uma nova versão do Tronco disponível! <a href="https://github.com/alvelvis/Tronco#Dispositivos" target="_blank">Baixe aqui a versão {{latest_version}}</a>.
        </div>
        <br>
        {% endif %}
        <img src="{{url_for('static', filename='favicon.png')}}" class="mb-2" alt="" width="96">
        <h1 class="display-5">Tronco te ajuda a organizar coleções de texto</h1>
        <p class="lead">Sem burocracia. Você cria uma coleção, organiza seus arquivos pessoais ou de trabalho, acessa de onde quiser e compartilha com quem quiser. Crie uma senha apenas se assim desejar.<br><br>Vamos começar?</p>
      </div>

      <div class="container">
        <div class="card-deck mb-3 text-center">
          <!--div class="card mb-4 box-shadow"-->
            <div class="card-body pt-0 mt-0">
              <!--h1 class="card-title pricing-card-title"><small class="text-muted">Hoje eu quero...</small></h1-->
              <input class="p-2 mb-3 mt-0 form-control" id="filterOpenCorpus" type="text" placeholder="Digite aqui para criar uma coleção">
              <span class="text-muted" id="randomTip"></span><!--{{ random_tip }}-->
              <ul class="list-unstyled mt-3 mb-4">
                <div id="openCorpus" style="overflow:auto; margin-bottom:40px">
                </div>
              </ul>
              
              <!--button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button-->
            </div>
          <!--/div-->
          <!--div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Carregar projeto</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title"><small class="text-muted">Já tenho algo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Carregue projeto já existente</li>
                <li>Precisa estar no formato Tronco</li>
                <li>Recupere todas as informações</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-primary">Quero carregar</button>
            </div>
          </div-->
        </div>
      </div>



      

      <footer id="footer" style="background-color:white" class="px-5 py-4">
        <div class="row">
          <div class="col-12 col-md ">
            <img class="mb-2" src="{{url_for('static', filename='favicon.png')}}" alt="" width="24" height="24"><small class="mb-3 px-2 text-muted ">&copy; 2020 - Tronco é de código aberto. <a href="https://github.com/alvelvis/Tronco" target="_blank">Colabore!</a></small>
          </div>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{url_for('static', filename='jquery-3.5.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='popper.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='holder.js')}}"></script>
    <script src="{{url_for('static', filename='index.js')}}?version=3"></script>
    <script src="{{url_for('static', filename='tronco.js')}}?version=6"></script>
    <script src="{{url_for('static', filename='feather.js')}}"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      })
    </script>

  </body>
</html>
