.dz-preview, .dz-file-preview {
    display: none;
}  

#filename, #sidebar a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}